---
const destination = "/entries/africas-most-expensive-cities";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=${destination}`} />
    <link rel="canonical" href={destination} />
    <title>Moved Permanently</title>
    <script>
      window.location.replace("/entries/africas-most-expensive-cities");
    </script>
  </head>
  <body>
    <p>
      This entry has moved to
      <a href={destination}>{destination}</a>.
    </p>
  </body>
</html>
