---
const destination = "/fr/entries/africas-most-expensive-cities";
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=${destination}`} />
    <link rel="canonical" href={destination} />
    <title>Page deplacee</title>
    <script>
      window.location.replace("/fr/entries/africas-most-expensive-cities");
    </script>
  </head>
  <body>
    <p>
      Cette entree a ete deplacee vers
      <a href={destination}>{destination}</a>.
    </p>
  </body>
</html>
